/*
STUPID CSS
*/

.root {
    -fx-accent: #1e74c6;
    -fx-focus-color: -fx-accent;
    -fx-base: #373e43;
    -fx-login-accent: #884848;
    /*-fx-base: #42494f;*/
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background ;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat, "Helvetica Neue", sans-serif;
    font-weight: bold;
}

.container {
    -fx-background-color: #252829;
}

.home {
    -fx-background-color: linear-gradient(to bottom left, #3d4548, #252829);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-background-radius: 5;
}

.mainPanel {
    -fx-background-color: linear-gradient(to bottom left, #788689, #3d4548);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-background-radius: 5;
}

.heading1 {
    -fx-text-fill: #F5F6F2;
    -fx-font-size: 3.25em;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0, 0, 0);
}

.heading2 {
    -fx-text-fill: #F5F6F2;
    -fx-font-size: 2.25em;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 3, 0, 0, 0);
}

.heading3 {
    -fx-text-fill: #F5F6F2;
    -fx-font-size: 1.25em;
    -fx-font-weight: bold;
}

.heading4 {
    -fx-text-fill: #F5F6F2;
    -fx-font-size: 1.25em;
}

.tableInput {
    -fx-prompt-text-fill: #acbdc0;
}

Button {
    -fx-background-color: #939E99;
    -fx-background-radius: 5;
    -fx-text-fill: #F5F6F2;
    -fx-font-weight: bold;
}

Button:hover {
    -fx-background-color: #6a7570;
}

.modButton {
    -fx-background-color: #6a7570;
}

.modButton:hover {
    -fx-background-color: #4a504d;
}

.submitButton {
    -fx-font-size: 1.5em;
    -fx-pref-width: 8em;
    -fx-pref-height: 2em;
}

.backButton {
    -fx-pref-width: 5em;
    -fx-pref-height: 2em;
    -fx-font-size: 1.1em;
}



.fieldContainer {
    -fx-padding: 40px 0px 0px 0px;
}


.inputField {
    -fx-font-family: "Montserrat", "Helvetica Neue", sans-serif;
    -fx-background-color: #F5F6F2, #788689;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0;
    -fx-text-fill: #F5F6F2;
    -fx-font-weight: bold;
    -fx-padding: 4 7 4 15 ;
}
.inputField:focused {
    -fx-background-color: #F5F6F2, rgba(102, 114, 117, 0.9);
}

.errorField {
    -fx-text-fill: #c52c2c;
    -fx-font-weight: bold;
    -fx-font-size: 1.25em;
}

.card {
    -fx-background-color: #788689;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 4, 0, 0, 0);
    -fx-border-radius: 10;
}

.tab-pane {
    /*-fx-background-color: #2e2e2e;*/
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 5);
}

.tab-pane .tab-header-area {
    -fx-background-color: transparent;
    -fx-padding: 10 0 0 0;
}

.tab-pane .tab {
    -fx-background-color: transparent;
    -fx-padding: 0 20 10 20;
    -fx-text-fill: #CCCCCC;
    -fx-border-color: transparent transparent #444444 transparent;
    -fx-border-width: 0 0 2 0;
    -fx-font-weight: bold;
}

.tab-pane .tab:hover {
    -fx-text-fill: #ffffff;
    -fx-border-color: transparent transparent #66d9ef transparent;
}

.tab:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-pane .tab:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0;
}

.tab-pane .tab {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
}

.tab-pane .tab-label {
    -fx-padding: 0; /* Remove any weird inset */
}

.tab-pane .tab:selected {
    -fx-text-fill: #66d9ef;
    -fx-border-color: transparent transparent #66d9ef transparent;
}

.navbar {
    -fx-background-color: #545c5e;
    /*-fx-border-color: rgba(213, 199, 36, 0.78);*/
    -fx-border-color: #66d9ef;
    -fx-border-width: 0 0 2 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 5);
}

.courseBack {
    -fx-background-color: #545c5e;
    -fx-background-radius: 0;
    /*-fx-border-color: #2b3032;*/
    /*-fx-border-width: 0 2 0 0;*/
}

.courseBack:hover {
    -fx-background-color: #2b3032;
}

ScrollPane:selected, TableView:selected {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-margin: 0;
}

ScrollPane:focused, TableView:focused {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;
    -fx-margin: 0;
}